services:
  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_development
    volumes:
      - /db/db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: backend2
    command: bash -c "bundle install && rails db:prepare && rails solid_queue:install && rm -f tmp/pids/server.pid && SOLID_QUEUE_IN_PUMA=true bundle exec rails server -b 0.0.0.0"
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
      - ollama
    environment:
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      SOLID_QUEUE_IN_PUMA: "true"
      OLLAMA_BASE_URL: "http://ollama:11434"
      OLLAMA_MODEL: "phi3"

  frontend:
    build:
      context: ./frontend
    container_name: frontend2
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    ports:
      - "3001:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama

volumes:
  postgres_data:
  node_modules:
  ollama:
